body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(../image/1.jpg);
    font-family: sans-serif;
    background-size: cover;
    background-position: center;


}
.manu{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.home,
.contact{
    border: none;
}
h4{
    text-transform: uppercase;
    padding:18px 12px;
    color: peru;

    height: 2vh;

}
.pic{
    height: 6vh;
    margin-top: 12%;
}
img{
    border-radius: 360px;
    width: 40px;
    height: 40px;

}
.logo{
    display: flex;
    margin-left: 2%;
    font-family: cursive;
}
ul{
    display: flex;
    width: 26%;
    margin-right: 2%;
}
ul li a{
    font-size: 17px;
    text-transform: uppercase;
}
ul .home a{
    color: peru;
}

/* hover */
ul li a:hover{
    border: 1px solid #fff;
    padding: 9px;
    background: rgba(0,0,0,0.2);
    color: #fff;
    transition: 0.5s ease;

}
form{
    width: 35%;
    color: #fff;
    margin: auto;
    margin-top: 4%;
    background: rgba(0,0,0,0.4);
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 5%;
}
input[type=text],
input[type=email],
input[type=password],
textarea{
    box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 5px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
    color: #fff;
    
}

input[type=submit]{
    margin-left: 80%;
    margin-top: 3%;
    width: 20%;
    height: 6vh;
    background: #18b1ee85;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    border-radius: 2px;
}
/* hover  */
input[type=submit]:hover{
    background: #12d46a8a;
    transition: 0.5s ease;
    margin-top: 2%;
    margin-bottom: 2%;
}
iframe{
    margin-top: 5%;
    width:532px;
    height:200px;
}

/* footer */

.footer{
    display: flex;
    justify-content: space-evenly;
    background: rgba(36, 33, 33, 0.699);
}
.col1,
.service{
    margin: 2% 0;
}
.start{
    width: 160%;
    border-bottom: 1px solid #fff;
    height:3.9vh;
}
.start1{
    width: 160%;
    border-bottom: 1px solid #fff;
    height:4.1vh;
}
.start2{
    width: 160%;
    border-bottom: 1px solid #fff;
    height:4vh;
}
h2{
    width: 80%;
    color: #fff;
    border-bottom: 1px solid red;
    padding-bottom: 3%;
    font-size: 18px;
  
}
h3{
    color: rgba(216, 193, 193, 0.555);
}
.fa{
    font-size: 20px;
    color: rgba(0, 255, 255, 0.726);
}
li{
    list-style: none;
    padding: 5% 0;
    border-bottom: 1px solid #fff;
    width: 160%;
}
li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
li a:hover{
   color: rgba(219, 34, 34, 0.87);
}
.end{
    border: none;
}

.fo{

    background: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
}
.follow{
    display: flex;
    width: 25%;
}
.fac{
    margin-left: 5%;
}
.fac,
.tele,
.email{
    width: 10%;
}
footer{
    padding: 20px;
    color: rgba(216, 193, 193, 0.555);
    font-size: 15px;
    margin-left: 10%;
}
